#!/usr/bin/env zsh

# Anvil account 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266 for local development
ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
# BE SURE TO NOT COMMIT REAL ACCOUNT DETAILS
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# The Aminals contracts deployed on the network. You may need to change this,
# and run `source .env` if you redeploy the contract.
AMINALS_CONTRACT=
AMINALS_PROPOSALS_CONTRACT=
VISUALS_AUCTION_CONTRACT=

# Used for generating some sort of random input. Should be a very high volume
# account + erc20 contract
GENERATOR_SOURCE_BALANCE=0x635ff8246201f0Ba7dC728672CDFfB769DC1c933
GENERATOR_SOURCE_CONTRACT=0x24eCe36071BbfFCfA6E0BbE98B76612e06c0220D
