# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Ignore forge coverage report
lcov.info

# Node.js
node_modules
build
.yarn

# Mac OS
.DS_STORE

# Claude Code
anvil
cast
chisel
forge
foundry.tar.gz