[profile.default]
  libs = ["lib"]
  out = "out"
  solc = "0.8.20"
  src = "src"

[profile.ci]
  fuzz = { runs = 5000 }
  invariant = { runs = 1000 }

[profile.lite]
  fuzz = { runs = 50 }
  invariant = { runs = 10 }
  # Speed up compilation and tests during development.
  optimizer = false

[fmt]
  bracket_spacing = false
  int_types = "long"
  line_length = 120
  multiline_func_header = "attributes_first"
  number_underscore = "thousands"
  quote_style = "double"
  single_line_statement_blocks = "single"
  tab_width = 4
  wrap_comments = true

  # See more config options https://github.com/foundry-rs/foundry/tree/master/config
